body {
    color: #000000;
    background-color: #EDEDED;
    font-family: sans-serif;
}

A:hover {
    color: #FF0000;
    background-color: transparent;
}
A:link {
    color: #0000C0;
    background-color: transparent;
}
A:visited {
    color: #900000;
    background-color: transparent;
}
A:active {
    color: #FF4040;
    background-color: transparent;
}

P { margin-top: 0; margin-bottom: 0; text-align: justify; }

TABLE.rightImg {
    clear: right;
    float: right;
    margin: 0 0 0.5em 0.5em;
    padding: 0;
    border-width: 0;
}

.clear {
    clear: both;
}

.imgCaption { font-size: 70%; }

.center {
    alignment: center;
    text-align-all: center;
    text-align: center;
}

.tt {
    font-family: "Courier New", Courier, monospace;
}

.email {
    cursor: pointer;
    border-style: none;
    margin: 0;
}

figure {
    display: table;
    padding: 0;
    border-width: 0;
    width: 20px;
}

figure.right {
    clear: right;
    float: right;
    margin: 0 0 0.5em 0.5em;
}

figure.left {
    clear: left;
    float: left;
    margin: 0 0.5em 0.5em 0;
}

figure.center {
    clear: both;
    float: none;
    margin: 1em auto;
    width: 600px;
}

figcaption {
    font-size: 80%;
}

div.covid19 {
    background-color: white;
    font-weight: bolder;
    border: black;
    border-width: 2px;
    width: 50%;
    margin: 2rem auto;
    padding: 20px;
}

.closed {
    text-decoration: line-through;
}

